.tc_nr{
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FFFFFF;
	padding: 20rpx;
	margin: 30rpx auto;
	border-radius: 10px;
	image{
		width: 180rpx;
		height: 180rpx;
	}
	.tc_text{
		width: 420rpx;
		font-size: 28rpx;
		.tc_title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20rpx;
		.tc_fi_title{
			font-size: 35rpx;
			}
			.tc_se_title{
				color: #ff4a29;
			}
		}
		.tc_ks_time{
			margin-bottom: 10rpx;
			color: #C8C7CC;
			}
			.tc_jz_time{
				margin-bottom: 10rpx;
				color: #C8C7CC;
			}
	}
	
}